<ol class="breadcrumb my-4">
  <li class="breadcrumb-item">
    <a routerLink="/admin/bookmakers" class="font-weight-bold"
      ><i class="fas fa-chevron-left"></i> Back to Bookmakers listing</a
    >
  </li>
</ol>

<form [formGroup]="bookmakerForm" (ngSubmit)="onSubmit()">
  <h1 class="mt-2 mb-4" style="font-weight: bold" *ngIf="bookmaker">{{ bookmaker.bookmakingEntityName }}</h1>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-12 editMemberfield">
              <label for="bookmakingEntityName">Bookmaker Entity Name *</label>
              <input
                id="bookmakingEntityName"
                class="form-control form-control-sm"
                [ngClass]="{
                  'is-invalid': !!submitted && bookmakerForm.get('bookmakingEntityName').errors?.required
                }"
                formControlName="bookmakingEntityName"
              />
              <div class="invalid-feedback">Please enter Bookmaker Entity Name.</div>
            </div>
            <div class="form-group col-12 editMemberfield">
              <label for="aboutUs">About Our Business</label>
              <textarea
                id="aboutUs"
                class="form-control form-control-sm"
                formControlName="aboutUs"
                maxlength="250"
              ></textarea>
              <span class="smallTxt" style="text-align: right; max-width: 600px"
                >{{ remainingText }} characters left</span
              >
            </div>
            <div class="form-group col-6 col-lg-3">
              <label for="contactName">Primary Contact Name *</label>
              <input
                id="contactName"
                class="form-control form-control-sm"
                [ngClass]="{
                  'is-invalid': !!submitted && bookmakerForm.get('contactName').errors?.required
                }"
                formControlName="contactName"
              />
              <div class="invalid-feedback">Please enter Primary Contact Name.</div>
            </div>
            <div class="form-group col-12 editMemberfield">
              <label for="contactEmail">Contact Email *</label>
              <input
                id="contactEmail"
                class="form-control form-control-sm"
                placeholder="johnDoe@mail.com"
                [ngClass]="{
                  'is-invalid':
                    !!submitted &&
                    (bookmakerForm.get('contactEmail').errors?.required ||
                      bookmakerForm.get('contactEmail').errors?.email)
                }"
                formControlName="contactEmail"
              />
              <div class="invalid-feedback">Please enter valid email.</div>
            </div>
            <div class="form-group col-12 editMemberfield">
              <label for="tel">Contact Telephone Number</label>
              <input
                id="tel"
                placeholder="(0412) 345-678"
                formControlName="contactNumber"
                phoneMask
                [preValue]="bookmakerForm.value.contactNumber"
                [phoneControl]="bookmakerForm.controls['contactNumber']"
                class="form-control form-control-sm"
                maxlength="14"
                [ngClass]="{
                  'is-invalid':
                    !!submitted &&
                    (bookmakerForm.get('contactNumber').errors?.required || bookmakerForm.get('contactNumber').invalid)
                }"
              />
              <div class="invalid-feedback">Please enter valid contact telephone number.</div>
            </div>

            <div class="form-group col-12 editMemberfield">
              <label for="bookmakingServices">Service Types</label>
              <div *ngFor="let option of serviceOptions; let i = index" class="d-inline-block mr-5">
                <input
                  type="checkbox"
                  id="{{ 'service' + i }}"
                  (change)="onServiceTypeChange(i, $event)"
                  value="{{ option }}"
                  [checked]="
                    bookmaker &&
                    bookmaker !== null &&
                    bookmaker.bookmakingServices &&
                    bookmaker.bookmakingServices.includes(option)
                      ? true
                      : null
                  "
                />
                <label for="{{ 'service' + i }}">{{ option }}</label>
              </div>
            </div>

            <div class="form-group col-12 editMemberfield">
              <label for="betTypes">Bet Types</label>
              <div *ngFor="let option of betOptions; let i = index" class="d-inline-block mr-5">
                <input
                  type="checkbox"
                  id="{{ 'bet' + i }}"
                  (change)="onBetTypeChange(i, $event)"
                  value="{{ option }}"
                  [checked]="
                    bookmaker && bookmaker !== null && bookmaker.betTypes && bookmaker.betTypes.includes(option)
                      ? true
                      : null
                  "
                />
                <label for="{{ 'bet' + i }}">{{ option }}</label>
              </div>
            </div>
            <div class="form-group col-12 editMemberfield">
              <label for="websiteAddress">Website Domain Address</label>
              <input
                id="websiteAddress"
                class="form-control form-control-sm"
                placeholder="vba.com.au"
                formControlName="websiteAddress"
              />
            </div>
            <div class="form-group col-12 editMemberfield">
              <label for="licenseNumber">Victorian Bookmaker Enitity Registration Number *</label>
              <input
                id="licenseNumber"
                class="form-control form-control-sm"
                formControlName="licenseNumber"
                [ngClass]="{
                  'is-invalid': !!submitted && bookmakerForm.get('licenseNumber').errors?.required
                }"
              />
              <div class="invalid-feedback">Please Enter Victorian Bookmaker Enitity Registration Number.</div>
            </div>
            <div class="form-group col-12 editMemberfield">
              <label for="yearEstablished">Year Established</label>
              <input id="yearEstablished" class="form-control form-control-sm" formControlName="yearEstablished" />
            </div>

            <div class="form-group col-12 editMemberfield pt-3" style="border-top: 1px solid #dfdfdf">
              <label for="telephoneBetting">Profile Photo / Bookmaker Logo *</label>
              <span class="smallTxt">(Allowed Filetypes: jpg, jpeg, png, gif. Max file size : 5MB)</span>
              <input
                type="file"
                (change)="onFileChange($event)"
                accept="image/gif, image/jpeg, image/jpg, image/png"
                #fileInputRef
                [ngClass]="{
                  'is-invalid': fileUploadError
                }"
              />
              <div class="invalid-feedback" *ngIf="fileUploadError">{{ fileUploadErrorMessage }}</div>
            </div>

            <div class="form-group col-12 editMemberfield" formArrayName="telephoneBetting">
              <label for="telephoneBetting">Approved RVL Telephone Number</label>

              <div
                class="input-group mb-3"
                *ngFor="let item of bookmakerForm.get('telephoneBetting')['controls']; let i = index"
              >
                <div [formGroupName]="i" class="w-100">
                  <div class="input-group-prepend phoneLeft">
                    <span class="input-group-text" id="basic-addon3">03 9214</span>
                  </div>
                  <input
                    id="telephoneBetting_{{ i }}"
                    class="form-control form-control-sm phoneRight"
                    placeholder="XXXX"
                    formControlName="telephone"
                    aria-describedby="basic-addon3"
                    maxlength="4"
                    pattern="\d{4}"
                    [ngClass]="{
                      'is-invalid': !!submitted && item.get('telephone').errors
                    }"
                  />
                  <button
                    type="button"
                    class="btn btn-outline-danger waves-effect waves-light removeBtn"
                    (click)="removeBettingPhone(i)"
                  >
                    Remove
                  </button>

                  <div class="invalid-feedback">Please enter a 4 digit number</div>
                </div>
              </div>
              <button
                type="button"
                *ngIf="bookmakerForm.get('telephoneBetting')['controls'].length != 4"
                class="btn waves-effect waves-light mt-2 addPhoneLine"
                (click)="addBettingPhone()"
              >
                Additional Telephone Number
              </button>
            </div>

            <div
              style="border-bottom: 1px solid #dfdfdf"
              class="form-group col-12 editMemberfield pb-4"
              *ngIf="
                (bookmaker && bookmakerForm.get('profilePicCompanyLogoObj').value === null) ||
                bookmakerForm.get('profilePicCompanyLogoObj').value !== null
              "
            >
              <label>Logo</label>
              <img
                style="max-width: 600px; width: auto; max-height: 400px; height: auto"
                [src]="rootUrl + '/' + bookmaker.profilePicCompanyLogo"
                *ngIf="bookmaker && bookmakerForm.get('profilePicCompanyLogoObj').value === null"
              />

              <button
                type="button"
                class="btn btn-outline-danger waves-effect waves-light removeBtn removeImage"
                (click)="cancelFile()"
                *ngIf="bookmakerForm.get('profilePicCompanyLogoObj').value !== null"
              >
                Cancel
              </button>
              <img
                [src]="bookmakerForm.get('profilePicCompanyLogo').value"
                *ngIf="bookmakerForm.get('profilePicCompanyLogoObj').value !== null"
              />
            </div>

            <div class="form-group col-12 editMemberfield">
              <div class="row" style="max-width: 600px">
                <div class="col-12"><h4 style="font-weight: bold">Status</h4></div>
                <div class="col-4">
                  <div class="d-inline-block">
                    <input type="checkbox" formControlName="isActive" id="isActive" />
                  </div>
                  <label for="isActive">Active</label>
                </div>
                <div class="col-4">
                  <div class="d-inline-block">
                    <input type="checkbox" formControlName="isApproved" id="isApproved" />
                  </div>
                  <label for="isApproved">Approved</label>
                </div>
                <div class="col-4">
                  <div class="d-inline-block">
                    <input type="checkbox" formControlName="isFeatured" id="isFeatured" />
                  </div>
                  <label for="isFeatured">Featured</label>
                </div>
              </div>
            </div>

            <!-- honey pot !!! -->
            <input type="text" formControlName="blockIt" class="hp-block-it" />

            <!-- actions -->
            <div class="form-group col-12">
              <!-- Save actions -->
              <div class="save-actions text-left">
                <button type="submit" class="btn btn-success btn-lg px-5">Save</button>
                <button
                  type="button"
                  class="btn btn-secondary btn-lg"
                  (click)="resetForm()"
                  [disabled]="!bookmakerForm.dirty"
                >
                  Clear
                </button>
              </div>
              <!-- end save actions -->
            </div>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</form>
