<div class="bg-dark">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main class="main-container">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <img
                src="https://infusion121.com/Infusion121_logos/infusion-121_no_tag.svg"
                style="margin: 100px auto 35px; width: 300px; display: block"
              />
              <div class="card shadow-lg border-0 rounded-lg mt-3">
                <div class="card-body">
                  <p><b>VBA Website Admin Login</b></p>
                  <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
                    <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
                      Username or password incorrect.
                    </div>
                    <div class="form-group">
                      <label class="d-block">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="username"
                          autocomplete="username"
                          [placeholder]="'Username' | translate"
                        />
                        <span hidden translate>Username</span>
                        <small
                          [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"
                          class="text-danger"
                          translate
                        >
                          Username is required
                        </small>
                      </label>
                      <label class="d-block">
                        <input
                          type="password"
                          class="form-control"
                          formControlName="password"
                          autocomplete="current-password"
                          [placeholder]="'Password' | translate"
                          required
                        />
                        <span hidden translate>Password</span>
                        <small
                          [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                          class="text-danger"
                          translate
                        >
                          Password is required
                        </small>
                      </label>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            type="checkbox"
                            class="form-check-input"
                            formControlName="remember"
                            style="margin-top: 0; height: 25px"
                          />
                          <span translate>Remember me</span>
                        </label>
                      </div>
                    </div>
                    <button class="btn btn-dark w-100" type="submit" [disabled]="loginForm.invalid || isLoading">
                      <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                      <span translate>Login</span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div id="layoutAuthentication_footer">
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid footerContent">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted" style="font-size: 12px">Infusion121 &copy; 2020</div>
            <div>
              <a href="https://infusion121.com.au/privacy-policy/" target="_blank" style="font-size: 12px; color: #aaa"
                >Privacy Policy</a
              >
              &middot;
              <a
                href="https://infusion121.com.au/mobile-privacy-doc/"
                target="_blank"
                style="font-size: 12px; color: #aaa"
                >Mobile Privacy</a
              >
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
