<div class="container" style="max-width: 620px">
  <div class="row">
    <div class="col-12 py-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit sed ex at consequat. Donec non scelerisque
      mi. Integer congue gravida ante in placerat. Quisque felis dui, gravida semper posuere sed, laoreet eget ex.
    </div>
    <div class="col-12" [ngClass]="{ hide: showThankyouMessage }">
      <form [formGroup]="bookmakerNewForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="bookmakingEntityName">Entity Name *</label>
          <input
            id="bookmakingEntityName"
            class="form-control form-control-sm"
            placeholder="Entity Name"
            [ngClass]="{
              'is-invalid': !!submitted && bookmakerNewForm.get('bookmakingEntityName').errors?.required
            }"
            formControlName="bookmakingEntityName"
          />
          <div class="invalid-feedback">Please enter Entity Name.</div>
        </div>
        <div class="form-group">
          <label for="aboutUs">About</label>
          <textarea
            id="aboutUs"
            class="form-control form-control-sm"
            placeholder="About"
            formControlName="aboutUs"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="contactName">Contact Name *</label>
          <input
            id="contactName"
            class="form-control form-control-sm"
            placeholder="contact name"
            [ngClass]="{
              'is-invalid': !!submitted && bookmakerNewForm.get('contactName').errors?.required
            }"
            formControlName="contactName"
          />
          <div class="invalid-feedback">Please enter Contact Name.</div>
        </div>
        <div class="form-group">
          <label for="contactEmail">Contact Email *</label>
          <input
            id="contactEmail"
            class="form-control form-control-sm"
            placeholder="johnDoe@mail.com"
            [ngClass]="{
              'is-invalid':
                !!submitted &&
                (bookmakerNewForm.get('contactEmail').errors?.required ||
                  bookmakerNewForm.get('contactEmail').errors?.email)
            }"
            formControlName="contactEmail"
          />
          <div class="invalid-feedback">Please enter valid email.</div>
        </div>
        <div class="form-group">
          <label for="contactNumber">Contact Number</label>
          <input
            id="contactNumber"
            class="form-control form-control-sm"
            placeholder="Contact Number"
            formControlName="contactNumber"
          />
        </div>

        <div class="form-group">
          <label for="bookmakingServices">Service Types</label>
          <div *ngFor="let option of serviceOptions; let i = index" class="d-inline-block mr-5">
            <input
              type="checkbox"
              id="{{ 'service' + i }}"
              (change)="onServiceTypeChange(i, $event)"
              value="{{ option }}"
              [checked]="
                bookmaker &&
                bookmaker !== null &&
                bookmaker.bookmakingServices &&
                bookmaker.bookmakingServices.includes(option)
                  ? true
                  : null
              "
            />
            <label for="{{ 'service' + i }}">{{ option }}</label>
          </div>
        </div>

        <div class="form-group">
          <label for="betTypes">Bet Types</label>
          <div *ngFor="let option of betOptions; let i = index" class="d-inline-block mr-5">
            <input
              type="checkbox"
              id="{{ 'bet' + i }}"
              (change)="onBetTypeChange(i, $event)"
              value="{{ option }}"
              [checked]="
                bookmaker && bookmaker !== null && bookmaker.betTypes && bookmaker.betTypes.includes(option)
                  ? true
                  : null
              "
            />
            <label for="{{ 'bet' + i }}">{{ option }}</label>
          </div>
        </div>
        <div class="form-group">
          <label for="websiteAddress">Website</label>
          <input
            id="websiteAddress"
            class="form-control form-control-sm"
            placeholder="Website"
            formControlName="websiteAddress"
          />
        </div>
        <div class="form-group">
          <label for="licenseNumber">License Number *</label>
          <input
            id="licenseNumber"
            class="form-control form-control-sm"
            placeholder="License Number"
            formControlName="licenseNumber"
            [ngClass]="{
              'is-invalid': !!submitted && bookmakerNewForm.get('licenseNumber').errors?.required
            }"
          />
          <div class="invalid-feedback">Please Enter License Number.</div>
        </div>
        <div class="form-group">
          <label for="yearEstablished">Year Established</label>
          <input
            id="yearEstablished"
            class="form-control form-control-sm"
            placeholder="Year Established"
            formControlName="yearEstablished"
          />
        </div>

        <!-- still missing profile company logo upload -->
        <!-- TODO: work on this please -->
        <div class="form-group">
          <label for="telephoneBetting">Profile Picture/Company Logo</label>
          <input
            type="file"
            (change)="onFilesChange($event)"
            accept="image/gif, image/jpeg, image/jpg, image/png"
            multiple
          />
        </div>

        <div
          class="form-group"
          *ngFor="let item of bookmakerNewForm.get('profilePicCompanyLogo')['controls']; let i = index"
        >
          <button type="button" class="btn btn-outline-danger waves-effect waves-light mt-2" (click)="removeFile(i)">
            Remove
          </button>
          <img
            id="{{ 'photo' + (i + 1) + 'ImageUrl' }}"
            [src]="item.value.url"
            *ngIf="item.value.url !== '' && item.value.file !== null"
          />
        </div>

        <div class="form-group" formArrayName="telephoneBetting">
          <label for="telephoneBetting">Betting Phone Line</label>

          <div
            class="input-group mb-3"
            *ngFor="let item of bookmakerNewForm.get('telephoneBetting')['controls']; let i = index"
          >
            <div [formGroupName]="i" class="w-100">
              <div class="input-group-prepend phoneLeft">
                <span class="input-group-text" id="basic-addon3">03 9214</span>
              </div>
              <input
                id="telephoneBetting_{{ i }}"
                class="form-control form-control-sm phoneRight"
                placeholder="XXXX"
                formControlName="telephone"
                aria-describedby="basic-addon3"
                maxlength="4"
                pattern="\d{4}"
                [ngClass]="{
                  'is-invalid': !!submitted && item.get('telephone').errors
                }"
              />
              <div class="invalid-feedback">Please enter a 4 digit number</div>
              <button
                type="button"
                class="btn btn-outline-danger waves-effect waves-light removeBtn"
                (click)="removeBettingPhone(i)"
              >
                Remove
              </button>
            </div>
          </div>
          <button
            type="button"
            *ngIf="bookmakerNewForm.get('telephoneBetting')['controls'].length != 4"
            class="btn waves-effect waves-light mt-2 addPhoneLine"
            (click)="addBettingPhone()"
          >
            Add Phone Line
          </button>
        </div>

        <!-- honey pot !!! -->
        <input type="text" formControlName="blockIt" class="hp-block-it" />

        <!-- actions -->
        <div class="form-group col-12 px-0">
          <!-- Save actions -->
          <div class="save-actions text-center">
            <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
            <!-- <button
                  type="button"
                  class="btn btn-outline-danger waves-effect waves-light"
                  (click)="resetForm()"
                  [disabled]="!bookmakerNewForm.dirty"
                >
                  Clear
                </button> -->
          </div>
          <!-- end save actions -->
        </div>
      </form>
    </div>
    <div class="col-12" [ngClass]="{ hide: !showThankyouMessage }">
      Thank you for submitting your registration. We will contact you soon.
    </div>
  </div>
</div>
