<div class="container" style="max-width: 620px">
  <div class="row">
    <div class="col-12 py-4" [ngClass]="{ hide: showThankyouMessage }">
      <p>Dear Member,</p>
      <p>
        As part of a strategic overhaul of the VBA website, we invite you to complete the below form, which is designed
        to promote your bookmaker business on our revamped website. It is intended that the newly designed website will
        be combined with social media (Facebook) and targeted campaign advertising, to better promote Members’ oncourse,
        telephone and online wagering activities. We hope and expect that increased website traffic will be better
        directed to Members via your Bookmaker Profile.
      </p>
      <p>
        Please note it is mandatory to insert contact details (name / email) and to upload an appropriate photograph or
        bookmaker logo so that website visitors are given a more realistic sense of what we represent for Victorian
        bookmaking.
      </p>
    </div>
    <block-ui>
      <div class="col-12" [ngClass]="{ hide: showThankyouMessage }">
        <form [formGroup]="bookmakerNewForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="bookmakingEntityName">Bookmaker Entity Name *</label>
            <input
              id="bookmakingEntityName"
              class="form-control form-control-sm"
              placeholder=""
              [ngClass]="{
                'is-invalid': !!submitted && bookmakerNewForm.get('bookmakingEntityName').errors?.required
              }"
              formControlName="bookmakingEntityName"
            />
            <div class="invalid-feedback">Please enter Bookmaker Entity Name.</div>
          </div>
          <div class="form-group">
            <label for="aboutUs">About Our Business</label>
            <textarea
              id="aboutUs"
              class="form-control form-control-sm"
              placeholder=""
              formControlName="aboutUs"
              maxlength="250"
            ></textarea>
            <span>{{ remainingText }} characters left</span>
          </div>
          <div class="form-group">
            <label for="contactName">Primary Contact Name *</label>
            <input
              id="contactName"
              class="form-control form-control-sm"
              placeholder=""
              [ngClass]="{
                'is-invalid': !!submitted && bookmakerNewForm.get('contactName').errors?.required
              }"
              formControlName="contactName"
            />
            <div class="invalid-feedback">Please enter Primary Contact Name.</div>
          </div>
          <div class="form-group">
            <label for="contactEmail">Contact Email *</label>
            <input
              id="contactEmail"
              class="form-control form-control-sm"
              placeholder="johnDoe@mail.com"
              [ngClass]="{
                'is-invalid':
                  !!submitted &&
                  (bookmakerNewForm.get('contactEmail').errors?.required ||
                    bookmakerNewForm.get('contactEmail').errors?.email)
              }"
              formControlName="contactEmail"
            />
            <div class="invalid-feedback">Please enter valid email.</div>
          </div>
          <div class="form-group">
            <label for="tel">Contact Telephone Number</label>
            <input
              id="tel"
              class="form-control form-control-sm"
              placeholder="(0412) 345-678"
              formControlName="contactNumber"
              phoneMask
              [preValue]="bookmakerNewForm.value.contactNumber"
              [phoneControl]="bookmakerNewForm.controls['contactNumber']"
              maxlength="14"
              [ngClass]="{
                'is-invalid':
                  !!submitted &&
                  (bookmakerNewForm.get('contactNumber').errors?.required ||
                    bookmakerNewForm.get('contactNumber').invalid)
              }"
            />
            <div class="invalid-feedback">Please enter valid contact telephone number.</div>
          </div>

          <div class="form-group">
            <label for="bookmakingServices">Service Types</label>
            <div *ngFor="let option of serviceOptions; let i = index" class="d-inline-block mr-5">
              <input
                type="checkbox"
                id="{{ 'service' + i }}"
                (change)="onServiceTypeChange(i, $event)"
                value="{{ option }}"
                [checked]="
                  bookmaker &&
                  bookmaker !== null &&
                  bookmaker.bookmakingServices &&
                  bookmaker.bookmakingServices.includes(option)
                    ? true
                    : null
                "
              />
              <label for="{{ 'service' + i }}">{{ option }}</label>
            </div>
          </div>

          <div class="form-group">
            <label for="betTypes">Bet Types</label>
            <div *ngFor="let option of betOptions; let i = index" class="d-inline-block mr-5">
              <input
                type="checkbox"
                id="{{ 'bet' + i }}"
                (change)="onBetTypeChange(i, $event)"
                value="{{ option }}"
                [checked]="
                  bookmaker && bookmaker !== null && bookmaker.betTypes && bookmaker.betTypes.includes(option)
                    ? true
                    : null
                "
              />
              <label for="{{ 'bet' + i }}">{{ option }}</label>
            </div>
          </div>
          <div class="form-group">
            <label for="websiteAddress">Website Domain Address</label>
            <input
              id="websiteAddress"
              class="form-control form-control-sm"
              placeholder="vba.com.au"
              formControlName="websiteAddress"
            />
          </div>
          <div class="form-group">
            <label for="licenseNumber">Victorian Bookmaker Entity Registration Number *</label>
            <input
              id="licenseNumber"
              class="form-control form-control-sm"
              placeholder=""
              formControlName="licenseNumber"
              [ngClass]="{
                'is-invalid': !!submitted && bookmakerNewForm.get('licenseNumber').errors?.required
              }"
            />
            <div class="invalid-feedback">Please Enter License Number.</div>
          </div>
          <div class="form-group">
            <label for="yearEstablished">Year Established</label>
            <input
              id="yearEstablished"
              class="form-control form-control-sm"
              placeholder=""
              formControlName="yearEstablished"
            />
          </div>

          <!-- still missing profile company logo upload -->
          <!-- TODO: work on this please -->
          <div class="form-group">
            <label for="telephoneBetting">Profile Photo / Bookmaker Logo *</label>
            <span>(Allowed Filetypes: jpg, jpeg, png, gif. Max file size : 5MB)</span>
            <input
              type="file"
              (change)="onFilesChange($event)"
              accept="image/gif, image/jpeg, image/jpg, image/png"
              [ngClass]="{
                'is-invalid': fileUploadError
              }"
            />
            <div class="invalid-feedback" *ngIf="fileUploadError">{{ fileUploadErrorMessage }}</div>
          </div>

          <div
            class="form-group"
            *ngFor="let item of bookmakerNewForm.get('profilePicCompanyLogo')['controls']; let i = index"
          >
            <button type="button" class="btn btn-outline-danger waves-effect waves-light mt-2" (click)="removeFile(i)">
              Remove
            </button>
            <img
              id="{{ 'photo' + (i + 1) + 'ImageUrl' }}"
              [src]="item.value.url"
              *ngIf="item.value.url !== '' && item.value.file !== null"
            />
          </div>

          <div class="form-group" formArrayName="telephoneBetting">
            <label for="telephoneBetting">Approved RVL Telephone Number</label>

            <div
              class="input-group mb-3"
              *ngFor="let item of bookmakerNewForm.get('telephoneBetting')['controls']; let i = index"
            >
              <div [formGroupName]="i" class="w-100">
                <div class="input-group-prepend phoneLeft">
                  <span class="input-group-text" id="basic-addon3">03 9214</span>
                </div>
                <input
                  id="telephoneBetting_{{ i }}"
                  class="form-control form-control-sm phoneRight"
                  placeholder="XXXX"
                  formControlName="telephone"
                  aria-describedby="basic-addon3"
                  maxlength="4"
                  pattern="\d{4}"
                  [ngClass]="{
                    'is-invalid': !!submitted && item.get('telephone').errors
                  }"
                />
                <button
                  type="button"
                  class="btn btn-outline-danger waves-effect waves-light removeBtn"
                  (click)="removeBettingPhone(i)"
                >
                  Remove
                </button>

                <div class="invalid-feedback">Please enter a 4 digit number</div>
              </div>
            </div>
            <button
              type="button"
              *ngIf="bookmakerNewForm.get('telephoneBetting')['controls'].length != 4"
              class="btn waves-effect waves-light mt-2 addPhoneLine"
              (click)="addBettingPhone()"
            >
              Additional Telephone Number
            </button>
          </div>

          <!-- honey pot !!! -->
          <input type="text" formControlName="blockIt" class="hp-block-it" />

          <!-- actions -->
          <div class="form-group col-12 px-0">
            <!-- Save actions -->
            <div class="save-actions text-center">
              <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
              <!-- <button
                    type="button"
                    class="btn btn-outline-danger waves-effect waves-light"
                    (click)="resetForm()"
                    [disabled]="!bookmakerNewForm.dirty"
                  >
                    Clear
                  </button> -->
            </div>
            <!-- end save actions -->
          </div>
        </form>
      </div>
    </block-ui>
    <div class="col-12 confirmationMessage" [ngClass]="{ hide: !showThankyouMessage }">
      <p>Thank you {{ bookmakingEntityName }},</p>
      <p>Your VBA registration has been submitted successfully.</p>
      <p>We will contact you if we need any further details from you.</p>
      <p>
        Best Regards<br />
        Victorian Bookmakers Association
      </p>
    </div>
  </div>
</div>
