<h1 class="my-4 pb-3" style="border-bottom: 1px solid #dfdfdf">Dashboard</h1>

<div class="row">
  <div class="h-100 col-xl-3 col-md-6">
    <div class="card bg-soft mb-4">
      <div class="card-body h3">Bookmakers</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small stretched-link" routerLink="/admin/bookmakers">View Details</a>
        <div class="small">
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="h-100 col-xl-3 col-md-6">
    <div class="card bg-soft mb-4">
      <div class="card-body h3">Members info</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small stretched-link" routerLink="/admin/members-info">View Details</a>
        <div class="small">
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="h-100 col-xl-3 col-md-6">
    <div class="card bg-soft mb-4">
      <div class="card-body h3">Rings layout</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small stretched-link" routerLink="/admin/ring-layouts">View Details</a>
        <div class="small">
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="h-100 col-xl-3 col-md-6">
    <div class="card bg-soft mb-4">
      <div class="card-body h3">RVL info sheets</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small stretched-link" routerLink="/admin/info-sheets">View Details</a>
        <div class="small">
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="h-100 col-xl-3 col-md-6">
    <div class="card bg-soft mb-4">
      <div class="card-body h3">Newsletters</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small stretched-link" routerLink="/admin/newsletters">View Details</a>
        <div class="small">
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>
