<div class="container-fluid footerContent">
  <div class="d-flex align-items-center justify-content-between small">
    <div class="text-muted" style="font-size: 12px">Infusion121 &copy; 2020</div>
    <div>
      <a href="https://infusion121.com.au/privacy-policy/" target="_blank" style="font-size: 12px">Privacy Policy</a>
      &middot;
      <a href="https://infusion121.com.au/mobile-privacy-doc/" target="_blank" style="font-size: 12px"
        >Mobile Privacy</a
      >
    </div>
  </div>
</div>
